{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block main-content %}
<div class="container mt-3">
   <div class="body">
      <div class="box">
          <span style="--i:1;"><img src="{% static 'images/rohit.png' %}" alt=""></span>
          <span style="--i:2;"><img src="{% static 'images/india.jpg' %}" alt=""></span>
          <span style="--i:3;"><img src="{% static 'images/virat.jpg' %}" alt=""></span>
          <span style="--i:4;"><img src="{% static 'images/srh.png' %}" alt=""></span>
          <span style="--i:5;"><img src="{% static 'images/delhi.jpg' %}" alt=""></span>
          <span style="--i:6;"><img src="{% static 'images/punjab.jpg' %}" alt=""></span>
          <span style="--i:7;"><img src="{% static 'images/rajasthan.jpg' %}" alt=""></span>
          <span style="--i:8;"><img src="{% static 'images/chennai.jpg' %}" alt=""></span>
      </div>
   </div>
</div>
{% endblock main-content %}